<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Bruno Pinto" />
  <meta name="description" content="{{ site.description }}" />
  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/highlight.css" type="text/css" media="screen, projection" />
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      {{ page.script }}
    });
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33717932-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <section class="sidebar box">
    <a href="/">
      <img src="http://www.gravatar.com/avatar/b57d4c036f2681604de8bd626a4835bc.png" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        <span id="first-name">Bruno</span>
        <span id="last-name">Pinto</span>
      </a>
    </section>

    <section class="alt-text">&nbsp;</section>

    <section class="meta">
      <a href="https://github.com/bpinto" id="github">
        <img src="/images/github.png" alt="github" title="@bpinto on GitHub" height="16" width="16" />
      </a>
      <a href="https://twitter.com/pfbruno" id="twitter">
        <img src="/images/twitter.png" alt="twitter" title="@pfbruno on Twitter" height="16" width="16" />
      </a>
      <a href="http://feeds.feedburner.com/bpinto" id="rss">
        <img src="/images/rss.png" alt="rss" title="Subscribe to this blog's RSS feed" height="16" width="16" />
      </a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
      </ul>
    </section>
  </section>

  {{ content }}
</body>

</html>
