---
layout: layout
---

<section class="guide">
  <ol id="breadcrumb" role="navigation" aria-label="Breadcrumbs">
    <li id="bc-home">
      <a class="home" href="/">Home</a>
    </li>
    <li class="title">
      <span>{{ page.title }}</span>
    </li>
  </ol>
</section>

<section class="content box">
  <h1>{{ page.title }}</h1>

  {{ content }}
</section>

<section class="info box">
  <ol>
    <li><b>Date:</b> {{ page.date | date: "%B %e, %Y" }}</li>
    <li><b>Tags:</b> {{ page.tags | array_to_sentence_string }}</li>
  </ol>
</section>

<section class="comment box">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'bpinto';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
     })();
  </script>

  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
